@media (max-width: 1200px) {legend {font-size: calc(1.275rem + 0.3vw);}h1, .h1 {font-size: calc(1.375rem + 1.5vw);}h2, .h2 {font-size: calc(1.325rem + 0.9vw);}h3, .h3 {font-size: calc(1.3rem + 0.6vw);}h4, .h4 {font-size: calc(1.275rem + 0.3vw);}.display-1 {font-size: calc(1.725rem + 5.7vw);}.display-2 {font-size: calc(1.675rem + 5.1vw);}.display-3 {font-size: calc(1.575rem + 3.9vw);}.display-4 {font-size: calc(1.475rem + 2.7vw);}.close {font-size: calc(1.275rem + 0.3vw);}}

html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Exo 2', sans-serif;
	background-color: #080705;
	color:#f3ebe8;
}

.timberFont {
	font-family: "timber";
	src: url('/img/timber.ttf') format("truetype");
}
.biggy{
	font-weight: 600;
	font-style: italic;
	font-family: 'Roboto Condensed', sans-serif;
	color: rgba(0,0,0,0);
	-webkit-text-fill-color: none; 
	-webkit-text-stroke-width: 2px;
	/* -webkit-text-stroke-color: #5bd5e6; */
}
.textWhite {color:#f3ebe8;}
.textPurple {color:#5bd5e6!important;}
.textGreen {color:#00f2ac!important;}
.textDarkGreen {color:#51a893!important;}
.textOrange {color:#f84606;}
.textYellow {color:#FFCD62;}
.biggyPurple {-webkit-text-stroke-color: #5bd5e6;}
.biggyGreen {-webkit-text-stroke-color: #007154;}
.biggyOrange {-webkit-text-stroke-color: #f84606;}
.biggyYellow {-webkit-text-stroke-color: #FFCD62;}
a:link, a:visited { color:#00b48a; text-decoration: underline; }
a:hover { color:#00b48a;  }
a:hover.btn { 
    background-color: #00362d;
	border-color: #00362d;
	color:#f3ebe8;
}
a:link.btn {
	color: #f3ebe8;
	text-decoration: none;
}

.lineHeightReset {
    line-height: 1.5 !important;
}
.hidden {display:none;}
.headlineThin {font-weight: 200;}
.explainer img {
	max-width:80px;
	margin-bottom:1em;
}

.blockchainLogos1 i {margin: 0 0.1em;}

footer { padding:1em 0; }
footer .footerlogo {max-height:15px;}
nav .navbar-brand { 
	font-size:2em;
	font-weight: 300;
	font-style: italic;
	color:#f3ebe8;
}
nav.navbar {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: -5px;
	background-color:rgba(0,3,41,0.8);
}
.btn.disabled, .btn:disabled { opacity: .2; }

body div.jumbotron {background-color: transparent !important;}
.coolHeadline { font-style: italic; }
.img-mirror {  -webkit-transform: scaleX(-1); transform: scaleX(-1);}

/*small*/
@media (max-width: 768px) {
	body main div.synthBk { 
		background-position: left center;
		background-size:cover;
	}
}
/* Extra large screen */
@media (min-width: 2450px) {  
	body main div.synthBk { 
		background-size:cover;
	}   
}

/* https://yoksel.github.io/relative-clip-path/ */
/* https://yoksel.github.io/url-encoder/ */
.svgLogoHide {
	position: absolute;
	width: 0;
	height: 0;
}
.svgClippedHolder{
    display: inline-block;
    position:relative;
    width:99%;
    aspect-ratio: 1/1;
	background: url('/img/timber-hero02.png') no-repeat;
	background-size: contain;
    animation: fadeInAnimation ease 1s;
}
.svgClippedBack {
    position: relative;
    top:26%;left:35%;
	/* margin: auto; */
	width: 30%; height: 30%;
    z-index: 2;
	background: #00f2ac;
	-webkit-clip-path: url(#svgLogoClipPath3);
	clip-path: url(#svgLogoClipPath3);
	/* background: #000329 url('/img/mrd3.gif'); */
	/* background-size: cover; */
} 
.svgClippedContent {
	/* display: none; */
	position: absolute;
    top:0;left:0;
    width:100%; height:100%;
    z-index: 3;
	/* background: #5bd5e6 url('/img/mrd5.gif'); */
	/* background: url('/img/mrd4.gif'); */
    background-size: contain;
    opacity: 1;
/* mix-blend-mode: normal; */
	/* mix-blend-mode: multiply; */
	/* mix-blend-mode: screen; */
	mix-blend-mode: overlay;
	/* mix-blend-mode: darken; */
	/* mix-blend-mode: lighten; */
	/* mix-blend-mode: color-dodge; */
	/* mix-blend-mode: color-burn; */
	/* mix-blend-mode: hard-light; */
	/* mix-blend-mode: soft-light; */
	/* mix-blend-mode: difference; */
	/* mix-blend-mode: exclusion; */
	/* mix-blend-mode: hue; */
	/* mix-blend-mode: saturation; */
	/* mix-blend-mode: color; */
	/* mix-blend-mode: luminosity;   */
}

.svgClippedFront {
	display: none;
    position: absolute;
    top:0;left:0;
	width: 100%; height: 100%;
    z-index: 4;
	opacity: 0.8;
    background: #000329;
    /* background: #1e5577; */
    /* background: #063453; */
	-webkit-clip-path: url(#svgLogoClipPathFront1);
	clip-path: url(#svgLogoClipPathFront1);
}

@keyframes fadeInAnimation {
    0% {opacity: 0;}
    30% {opacity: 0;}
    100% {opacity: 1;}
}